.nav-wrapper {
    background-color: maroon;
    text-align: left;
}

#jumbo-description {
    text-align: center;
    font-size: 36px;
}

#add-btn {
    background-color: navy;
}

.table-input {
    color: black;
}