*{
    margin: 0px 5px 0px 5px;
}

nav {
    background-color: #014bb1;
}

.nav-wrapper {
    background-color: #014bb1;
    text-align: left;
}

a:hover {
    color: white;
}

#jumbo-description {
    text-align: center;
    font-size: 36px;
}

#schedule-title {
    text-align: center;
}

#add-btn {
    background-color: #014bb1;
}

.table-input {
    color: black;
}